/* Mobile view small */
$media-phone-sm: "only screen and (max-width: 480px)";
/* Mobile view */
$media-phone: "only screen and (max-width: 600px)";
/* Tablet view */
$media-tablet: "only screen and (max-width: 768px)";
/* Desktop view */
$media-desktop: "only screen and (max-width: 1024px)";