@import "../abstracts/index";

.display-data {
  padding: 2rem;
  width: calc(100vw - 4rem);
  background: white;
  color: black;
  font-size: 1rem;
  position: absolute;
  top: 150px;
  left: 0;
}
.output {
  display: block;
  font-size: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
  &.selected{
    background: #abdaca;
  }
  .details {
    display: flex;
    align-items: center;
    width: 100%;
    h3 {
      flex: 0 0 10rem;
      font-size: 1.2rem;
      font-weight: 600;
    }
    h4 {
      flex: 0 0 5rem;
      font-size: 1rem;
      font-weight: lighter;
      padding-left: 1rem;
    }
  }
}

